body{

    background-color: rgb(226, 160, 113);

}

.margen{

    background-color: chocolate;
    margin: 15px;
    padding: 30px 25px 20px 10px ;
    border: solid 3px ;
    overflow:scroll
    /*
    outline: 10px; ver porque no funciona
    */

}

.text{
    
    
    text-align:center;
    text-decoration: underline;
    text-shadow: 5px 2px 3px blue;

}

a:link{

    color: chartreuse;  /* color del link sin visitar */
}

a:visited{

    color: brown;   /* color de un vinculo visitado */
}

ul{
    list-style-type: circle; /*eliminas los puntos de la lista , pero lo deje con circulitos*/ 
}

table{
    width: 100%;
    border-collapse: collapse;  /*gracias a esto junto la tabla*/
}

th,td{
    border: solid 1px rgb(25, 146, 177);
}

th{ /*cabecera tabla*/
    padding-left: 5px;
    background-color: rgb(58, 58, 255);
    color: rgb(255, 255, 255);
    text-align: left;
}

td:hover{   /*el over era para ver el estado algo asi*/
    background-color: rgba(207, 60, 60, 0.445);
}

tr{
    cursor: pointer;    /*cambia el icono del mouse la manito*/
}
